{% extends 'base.html' %}
{% load static %}

{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block title %}
    <title>购物车</title>
{% endblock %}


{% block content %}
<div class="cart">
    {# 主体内容 #}
    <ul>
        {% for cart in carts %}
           <li class="goods">
                <div class="confirm-wrapper" isselect="{{ cart.isselect }}" cartid="{{ cart.id }}">
                    {% if cart.isselect %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="no"></span>
                    {% endif %}
                </div>

                <div class="content-wrapper">
                    <div class="img">
                        <img src="{{ cart.goods.productimg }}" alt="">
                    </div>
                    <div class="detail">
                        <p class="name">{{ cart.goods.productlongname }}</p>
                        <p class="price" str="{{ cart.goods.price }}"> ￥ {{ cart.goods.price }}</p>
                        <p class="num" str="{{ cart.number }}"> x{{ cart.number }} </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="bill">
        <div class="bill-left">
            <div class="all" isall="false">
                <span class="no"></span>
                <b>全选</b>
            </div>
            <div class="total">
                <span>合计￥：</span>
                <b></b>
            </div>
        </div>
        <div class="bill-right" id="generate-order">
            下单
        </div>
    </div>
</div>
{% endblock %}




{% block EXTJS %}
    <script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}