{% extends 'base.html' %}
{% load static %}

{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'order/css/orderinfo.css' %}">
{% endblock %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}


{% block content %}
<div class="order">
    <div class="order-number">
        订单号： {{ order.number }}
    </div>
    <ul>
        {% for ordergoods in order.ordergoods_set.all %}
            <li class="goods">
                <div class="content-wrapper">
                    <div class="img">
                        <img src="{{ ordergoods.goods.productimg }}" alt="">
                    </div>
                    <div class="detail">
                        <p class="name">{{ ordergoods.goods.productlongname }}</p>
                        <p class="price" str="{{ ordergoods.goods.price }}"> ￥ {{ ordergoods.goods.price }}</p>
                        <p class="num" str="{{ ordergoods.number }}"> x{{ ordergoods.number }} </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="bill">
        <div class="bill-right" id="alipay" orderid="{{ order.id }}">
            付款
        </div>
    </div>
</div>
{% endblock %}


{% block EXTJS %}
    <script src="{% static 'order/js/orderinfo.js' %}"></script>
{% endblock %}